<h3>Create a User</h3>

<form id="" action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">
	<label for="username">username</label><input type="text" name="user[username]" value="" id="username">
	<label for="password">password</label><input type="text" name="user[password]" value="" id="password">
	<label for="Submit"></label><input type="submit" name="submit user" value="submit" id="">



</form>