<h2>Rent-a-cat!</h2>

<h3>Rental form for <%= @cat.name %></h3>

<form id="" action=<%= "/cats/#{@cat.id}/requests" %> method="post">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">

	<label for="birth_date">Day rental begins</label><br>
	<input type="date" name="cat_rental_request[begin_date]" value="" id="begin_date"><br>

	<label for="birth_date">Day Rental Ends</label><br>
	<input type="date" name="cat_rental_request[end_date]" value="" id="end_date"><br>

	<label for="Submit">Submit Cat</label>
	<input type="submit" name="Submit" value="Submit" id="Submit">

</form>
