<h2>Make a new cat</h2>

<form id="" action="/cats" method="post">
	<label for="Name">Name</label>
	<input type="text" name="cat[name]" value="" id="Name"><br>

	<label for="age">age</label>
	<input type="text" name="cat[age]" value="" id="age"><br>

	<label for="birth_date">birth_date</label>
	<input type="date" name="cat[birth_date]" value="" id="birth_date"><br>

	<label for="color">Color</label>
	<input type="text" name="cat[color]" value="" id="color"><br>

	<label for="gender">gender</label>
	<input type="text" name="cat[sex]" value="" id="gender"><br>

	<input type="hidden" name="cat[user_id]" value="<%= @user.id %>" id="owner"><br>

	<label for="Submit">Submit Cat</label>
	<input type="submit" name="Submit" value="Submit" id="Submit">

</form>